<div class="container">
  <div class="row mw-100 p-3 pb-2">
    <div class="col-md-6">
      <div class="accordion" id="assignment1Accordion">
        <div class="accordion-item  text-bg-secondary">
          <div class="accordion-header h1" id="assignment1Header"> <button class="accordion-button text-bg-dark collapsed " type="button" data-bs-toggle="collapse" data-bs-target="#assignment1Text" aria-expanded="false" aria-controls="assignment1Text">
              CPA1 detail
            </button></div>
          <div id="assignment1Text" class="mt-0 accordion-collapse collapse" aria-labelledby="assignment1Header" data-bs-parent="#assignment1Accordion">
            <div class="accordion-body">
              <div class="font-monospace h6 small pre-wrap">For this assignment you
                should create an
                express
                app
                which displays an
                "About the
                Developer" page.<br>
                The page should contain<br>
                * an image of your (or something you like)<br>
                * an h1 header with your name<br>
                * a list of interesting things about you<br>
                * a table <br>
                * use of bootstrap style to set colors, font sizes, margins/paddings, etc.<br>
                <br>
                Once you have completed this, create a short Zoom recording in the cloud (2-3 minutes)<br>
                where you show yourself starting the app in the terminal or powershell with nodemon or npm start<br>
                and then viewing it in the browser. Then open VScode or some other editor and explain how your code
                works
                (briefly).<br>
                <br>
                Cut and paste a link to your movie in the space below along with a short reflection where you
                explain<br>
                * what you learned, if anything, doing this assignment<br>
                * what challenges you encountered, if any<br>
                * how long it took you to complete this assignment.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="accordion" id="assignment2Accordion">
        <div class="accordion-item  text-bg-secondary">
          <div class="accordion-header h1" id="assignment2Header"> <button class="accordion-button text-bg-dark collapsed " type="button" data-bs-toggle="collapse" data-bs-target="#assignment2Text" aria-expanded="false" aria-controls="assignment2Text">
              CPA2 detail
            </button></div>
          <div id="assignment2Text" class="mt-0 accordion-collapse collapse" aria-labelledby="assignment2Header" data-bs-parent="#assignment2Accordion">
            <div class="accordion-body">
              <div class="font-monospace h6 small pre-wrap">For this week you should keep working on your term project and add all of the features we've discussed in class.<br><br>Submit this by making a short movie showing you running your app and demoing the features you have added.<br><br>I would also like you to try to upload your project to github and post a link to your github site. If you are not able to push your code to a github repository, then meet with Elizabeth or me this week and we can help you do that.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>